// Product Divider Template //

@mixin productDividerStylized($color) {
    width: 33%;
    height: 5px;
    margin: 10px 0 30px 0;
    background-color: $color;
    @media (min-width: 768px) and (max-width: 968px) {
        width: 45%;
    }
    @media only screen and (max-width: 767px) {
        width: 50%;
    }
};

@mixin productDividerTitle {
    width: 80%;
    height: 1px;
    background-color: white;
};



@mixin faqContent($color) {
    background-color: $color;
    margin-bottom: 2rem;
    padding: 2rem;
}



.product-title {
    padding: 20px 0;
}

.default-divider {
    height: 1px;
    background-color: rgb(235,235,235);
    margin: 20px 0;
};

.feature-container {
    margin-top: 50px;
}

.feature-description {
    margin: 30px 0 30px;
}

  




// Blood Sugar Management //
.product-bsm {
    .product-banner{
        background-color: $bsm;
        .product-title h1 {
            color: white !important;
        };
        .product-divider-title {
            background-color: white;
            width: 80%;
            height: 1px;
        };
        .productDividerSeperator {
            background-color: white;
        }
        h1, h2, p {
            color: white;
        };
    };
    .product-divider {
        @include productDividerStylized($bsm);
    };
    .faq-content {
        @include faqContent($bsm-muted);
    }
};






// Children's Wellness //
// Digestive Health //

// Eye Health //

// General Health //
// Hair, Nail & Skin Health //
// Immune Health //
// Joint & Bone Health //
// Liver Health //
// Men's Health //
// Probiotic Range //
// Oral Health //
// Women Health //