// Product Divider Template //

@mixin productDividerStylized($color) {
    width: 33%;
    height: 5px;
    margin: 10px 0 30px 0;
    background-color: $color;
    @media (min-width: 768px) and (max-width: 968px) {
        width: 45%;
    }
    @media only screen and (max-width: 767px) {
        width: 50%;
    }
};

@mixin productDividerTitle {
    width: 80%;
    height: 1px;
    background-color: white;
};



@mixin faqContent($color) {
    background-color: $color;
    margin-bottom: 2rem;
    padding: 2rem;
}



.default-divider {
    height: 1px;
    background-color: rgb(235,235,235);
    margin: 20px 0;
};


.product-features {
    margin: 40px 0;
}

.product-serial {
    margin: 40px 0;
}

.features-description {
    margin: 40px 0;
}

.serial-description {
    margin: 40px 0;
    p {
        font-weight: 700;
    }
}



.product-bsm {
    .product-banner {
        background-color: $bsm;
        align-items: center;
    }
    .product-info {
        padding: 5vh 0;
        h2, h6, p {
            color: white !important;
        }
    }
    .product-divider {
        @include productDividerStylized($bsm);
    }
    .faq-content {
        @include faqContent($bsm-muted);
    }
}













// Blood Sugar Management //


// Children's Wellness //
// Digestive Health //

// Eye Health //

// General Health //
// Hair, Nail & Skin Health //
// Immune Health //
// Joint & Bone Health //
// Liver Health //
// Men's Health //
// Probiotic Range //
// Oral Health //
// Women Health //