html {
    font-size: 62.5%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
    font-size: 6.1rem;
    line-height: 120%;
    font-weight: 700;
    color: $black;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.3rem;
    text-rendering: optimizeLegibility;
    @media all and (min-width: 768px) and (max-width: 980px) {
    font-size: 6.1rem;
    };
    @media all and (max-width: 767px) {
        font-size: 3.1rem;
    };
};


h2 {
    font-size: 3.1rem;
    line-height: 135%;
    font-weight: 500;
    color: $black;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.3rem;
    text-rendering: optimizeLegibility;
    @media (min-width: 768px) and (max-width: 968px) {
        font-size: 3.1rem;
    }
    @media all and (max-width: 767px) {
        font-size: 2.2rem;
    };
};

h3 {
    font-size: 2.2rem;
    line-height: 135%;
    font-weight: 700;
    color: $black;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.3rem;
    text-rendering: optimizeLegibility;
    @media (min-width: 768px) and (max-width: 968px) {
        font-size: 2.0rem;
    }
};

h4 {
    font-size: 1.8rem;
    line-height: 135%;
    font-weight: 700;
    color: $black;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.3rem;
    text-rendering: optimizeLegibility;
}

h5 {
    font-size: 1.6rem;
    line-height: 135%;
    font-weight: 700;
    color: $black;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.3rem;
    text-rendering: optimizeLegibility;
}


h6 {
    font-size: 1.8rem;
    line-height: 135%;
    letter-spacing: 0.3rem;
    font-weight: 700;
    color: $black;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.3rem;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
};

p {
    font-size: 1.6rem;
    line-height: 140%;
    color: $black;
    font-weight: 400;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
};


ul li {
    color: $black;
}


sup {
    line-height: 0;
    vertical-align: baseline;
    font-size: 50%;
  }
  