h1 {
    font-size: 3rem;
    line-height: 130%;
    color: $black;
    font-weight: 700;
    @media (min-width: 768px) and (max-width: 968px) {
    font-size: 2.4rem;
    };
    @media (min-width: 367px) and (max-width: 768px) {
        font-size: 1.9rem;
    };
};


h2 {
    font-size: 2.4rem;
    line-height: 135%;
    color: $black;
    font-weight: 700;
    @media (min-width: 768px) and (max-width: 968px) {
        font-size: 1.9rem;
    }
};

h3 {
    font-size: 1.9rem;
    line-height: 135%;
    color: $black;
    font-weight: 500;
    @media (min-width: 768px) and (max-width: 968px) {
        font-size: 1.4rem;
    }
};

h4 {
    font-size: 1.2rem;
    line-height: 135%;
    color: $black;
    font-weight: 500;
};

p {
    font-size: 1rem;
    line-height: 140%;
    color: $textGrey;
    font-weight: 400;
};