// BiO-LiFE Theme //

$black: #2b2b2b;
$textGrey: #666666;
$bioLifeGreen: #275d2d;
$blue: #0c71c3;

// Product Category Color //

$bsm: #e61b27;
$cw: #fbc01b;
$dh: #bc9d0d;
$eh: #30b8bf;
$gh: #f6a32b;
$hns: #eb5d5c;
$hbc: #e61b27;
$ih: #925aa0;
$jbh: #81be53;
$lh: #d69b12;
$mh: #242021;
$oh: #0971b9;
$pr: #a36a39;
$wh: #d92688;
