html {
  font-size: 62.5%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 6.1rem;
  line-height: 120%;
  font-weight: 700;
  color: #2b2b2b;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.3rem;
  text-rendering: optimizeLegibility;
}

@media all and (min-width: 768px) and (max-width: 980px) {
  h1 {
    font-size: 6.1rem;
  }
}

@media all and (max-width: 767px) {
  h1 {
    font-size: 3.1rem;
  }
}

h2 {
  font-size: 3.1rem;
  line-height: 135%;
  font-weight: 500;
  color: #2b2b2b;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.3rem;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) and (max-width: 968px) {
  h2 {
    font-size: 3.1rem;
  }
}

@media all and (max-width: 767px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 2.2rem;
  line-height: 135%;
  font-weight: 700;
  color: #2b2b2b;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.3rem;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) and (max-width: 968px) {
  h3 {
    font-size: 2.0rem;
  }
}

h4 {
  font-size: 1.8rem;
  line-height: 135%;
  font-weight: 700;
  color: #2b2b2b;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.3rem;
  text-rendering: optimizeLegibility;
}

h5 {
  font-size: 1.6rem;
  line-height: 135%;
  font-weight: 700;
  color: #2b2b2b;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.3rem;
  text-rendering: optimizeLegibility;
}

h6 {
  font-size: 1.8rem;
  line-height: 135%;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: #2b2b2b;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.3rem;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
  line-height: 140%;
  color: #2b2b2b;
  font-weight: 400;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

ul li {
  color: #2b2b2b;
}

sup {
  line-height: 0;
  vertical-align: baseline;
  font-size: 50%;
}

a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1px;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: all .5s ease-Out;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  width: 150px;
  margin: 20px 0;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.buttonLink {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  width: 150px;
  margin: 20px 0;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border: 2px solid white;
}

#primaryButton {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #275d2d;
}

#primaryButton a {
  position: relative;
  -webkit-transition: all .45s ease-Out;
  transition: all .45s ease-Out;
}

#primaryButton:hover #circle {
  background: #153070;
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#linkButton {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#linkButton a {
  position: relative;
  -webkit-transition: all .45s ease-Out;
  transition: all .45s ease-Out;
}

#linkButton:hover #circle {
  background: #153070;
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.default-divider {
  height: 1px;
  background-color: #ebebeb;
  margin: 20px 0;
}

.product-features {
  margin: 40px 0;
}

.product-serial {
  margin: 40px 0;
}

.features-description {
  margin: 40px 0;
}

.serial-description {
  margin: 40px 0;
}

.serial-description p {
  font-weight: 700;
}

.product-bsm .product-banner {
  background-color: #e61b27;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-bsm .product-info {
  padding: 5vh 0;
}

.product-bsm .product-info h2, .product-bsm .product-info h6, .product-bsm .product-info p {
  color: white !important;
}

.product-bsm .product-divider {
  width: 33%;
  height: 5px;
  margin: 10px 0 30px 0;
  background-color: #e61b27;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-bsm .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-bsm .product-divider {
    width: 50%;
  }
}

.product-bsm .faq-content {
  background-color: #f8b9be;
  margin-bottom: 2rem;
  padding: 2rem;
}

.verticle-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
}

.horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
}
/*# sourceMappingURL=styles.css.map */