html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.5rem;
  line-height: 120%;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2.3rem;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) and (max-width: 968px) {
  h1 {
    font-size: 3.1rem;
  }
}

@media (min-width: 367px) and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 3.1rem;
  line-height: 135%;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2.3rem;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) and (max-width: 968px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 367px) and (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.2rem;
  line-height: 135%;
  font-weight: 700;
  color: inherit;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2.3rem;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) and (max-width: 968px) {
  h3 {
    font-size: 2.0rem;
  }
}

h4 {
  font-size: 1.4rem;
  line-height: 135%;
  font-weight: 500;
  color: inherit;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2.3rem;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1.6rem;
  line-height: 140%;
  color: inherit;
  font-weight: 400;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2.3rem;
}

sup {
  line-height: 0;
  vertical-align: baseline;
  font-size: 50%;
}

.primaryButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 140px;
  height: 50px;
  border: none;
  border: solid 2px #2b2b2b;
  background: rgba(255, 255, 255, 0);
  font-size: 18px;
  padding: 0 10px;
}

.primaryButton:hover {
  background-color: #0c71c3;
  color: white;
}

.outlinkButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.product-title {
  padding: 20px 0;
}

.default-divider {
  height: 1px;
  background-color: #ebebeb;
  margin: 20px 0;
}

.feature-container {
  margin-top: 50px;
}

.feature-description {
  margin: 30px 0 30px;
}

.product-bsm .product-banner {
  background-color: #e61b27;
}

.product-bsm .product-banner .product-title h1 {
  color: white !important;
}

.product-bsm .product-banner .product-divider-title {
  background-color: white;
  width: 80%;
  height: 1px;
}

.product-bsm .product-banner .productDividerSeperator {
  background-color: white;
}

.product-bsm .product-banner h1, .product-bsm .product-banner h2, .product-bsm .product-banner p {
  color: white;
}

.product-bsm .product-divider {
  width: 33%;
  height: 5px;
  margin: 10px 0 30px 0;
  background-color: #e61b27;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-bsm .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-bsm .product-divider {
    width: 50%;
  }
}

.product-bsm .faq-content {
  background-color: #f8b9be;
  margin-bottom: 2rem;
  padding: 2rem;
}

.verticle-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
}

.horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
}
/*# sourceMappingURL=styles.css.map */