h1 {
  font-size: 3rem;
  line-height: 130%;
  color: #2b2b2b;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 968px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media (min-width: 367px) and (max-width: 768px) {
  h1 {
    font-size: 1.9rem;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 135%;
  color: #2b2b2b;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 968px) {
  h2 {
    font-size: 1.9rem;
  }
}

h3 {
  font-size: 1.9rem;
  line-height: 135%;
  color: #2b2b2b;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 968px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 1.2rem;
  line-height: 135%;
  color: #2b2b2b;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 140%;
  color: #666666;
  font-weight: 400;
}

.primaryButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 140px;
  height: 50px;
  border: none;
  border: solid 2px #2b2b2b;
  background: rgba(255, 255, 255, 0);
  font-size: 18px;
  padding: 0 10px;
}

.primaryButton:hover {
  background-color: #0c71c3;
  color: white;
}

.outlinkButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.product-bsm .product-banner {
  background-color: #e61b27;
}

.product-bsm .product-banner .product-title h1 {
  color: white !important;
}

.product-bsm .product-banner .product-divider-title {
  background-color: white;
  width: 80%;
  height: 1px;
}

.product-bsm .product-banner h1, .product-bsm .product-banner h2, .product-bsm .product-banner p {
  color: white;
}

.product-bsm .product-divider {
  width: 33%;
  height: 5px;
  background-color: #e61b27;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-bsm .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-bsm .product-divider {
    width: 50%;
  }
}

.product-ch .product-banner {
  background-color: #fbc01b;
  color: white;
}

.product-ch .product-divider {
  width: 33%;
  height: 5px;
  background-color: #fbc01b;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-ch .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-ch .product-divider {
    width: 50%;
  }
}

.product-dh .product-banner {
  background-color: #bc9d0d;
  color: white;
}

.product-dh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #bc9d0d;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-dh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-dh .product-divider {
    width: 50%;
  }
}

.product-eh .product-banner {
  background-color: #30b8bf;
  color: white;
}

.product-eh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #30b8bf;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-eh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-eh .product-divider {
    width: 50%;
  }
}

.product-gh .product-banner {
  background-color: #f6a32b;
  color: white;
}

.product-gh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #f6a32b;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-gh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-gh .product-divider {
    width: 50%;
  }
}

.product-hns .product-banner {
  background-color: #eb5d5c;
  color: white;
}

.product-hns .product-divider {
  width: 33%;
  height: 5px;
  background-color: #eb5d5c;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-hns .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-hns .product-divider {
    width: 50%;
  }
}

.product-ih .product-banner {
  background-color: #925aa0;
  color: white;
}

.product-ih .product-divider {
  width: 33%;
  height: 5px;
  background-color: #925aa0;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-ih .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-ih .product-divider {
    width: 50%;
  }
}

.product-jbh .product-banner {
  background-color: #81be53;
  color: white;
}

.product-jbh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #81be53;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-jbh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-jbh .product-divider {
    width: 50%;
  }
}

.product-lh .product-banner {
  background-color: #d69b12;
  color: white;
}

.product-lh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #d69b12;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-lh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-lh .product-divider {
    width: 50%;
  }
}

.product-mh .product-banner {
  background-color: #242021;
  color: white;
}

.product-mh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #242021;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-mh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-mh .product-divider {
    width: 50%;
  }
}

.product-pr .product-banner {
  background-color: #a36a39;
  color: white;
}

.product-pr .product-divider {
  width: 33%;
  height: 5px;
  background-color: #a36a39;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-pr .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-pr .product-divider {
    width: 50%;
  }
}

.product-oh .product-banner {
  background-color: #0971b9;
  color: white;
}

.product-oh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #0971b9;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-oh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-oh .product-divider {
    width: 50%;
  }
}

.product-wh .product-banner {
  background-color: #d92688;
  color: white;
}

.product-wh .product-divider {
  width: 33%;
  height: 5px;
  background-color: #d92688;
}

@media (min-width: 768px) and (max-width: 968px) {
  .product-wh .product-divider {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  .product-wh .product-divider {
    width: 50%;
  }
}

.verticle-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */